.todo-item {
	display: flex;
	width: 300px;
	height: 30px;
	align-items: center;
	column-gap: 24px;
	justify-content: space-between;
	border: 1px solid #000;
	padding: 8px;
	border-radius: 8px;
}

.todo-left {
	display: flex;
	height: 50px;
	align-items: center;
	column-gap: 16px;
	user-select: none;
}

.todo-status-completed {
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	padding: 4px;
	background-color: rgb(81, 194, 137);
	transition: all ease 0.3s;
}

.todo-status-pending {
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	padding: 4px;
	background-color: rgb(223, 81, 81);
	transition: all ease 0.3s;
}

.button-delete {
	font-size: 20px;
	user-select: none;
	cursor: pointer;
	font-weight: bold;
	padding: 4px;
}

.button-delete:hover {
	user-select: none;
	cursor: pointer;
	font-weight: bold;
	color: rgb(223, 81, 81) ;
}

.todo-status-completed.rotate {
	transform: rotate(360deg);
}

.todo-status-pending.rotate {
	transform: rotate(360deg);
}